.content_item {
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: scroll;
  padding: 20px;

  .table_content {
    margin-top: 20px;
  }
}

.dark {
  .content_item {
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: scroll;
  }
}
