
.light {
  // color: #565656;
  .text_item{
    .text{
      text-align: center;
      margin-top: 20px;
      line-height: 30px;
    }
    .bg {
      position: relative;
      width: 100%;
      img{
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
      }
    }
  }
    
    .layout_content{
      
      h3{
        text-align: center;
        margin-top: 20px
      }
      .bg {
        position: relative;
        width: 100%;
        img{
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
        }
      }
    }
  }
  .dark {
    .text{
      text-align: center;
      margin-top: 20px;
      line-height: 30px;
    }
    .bg {
      position: relative;
      width: 100%;
      img{
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
      }
    }
    
    
    .layout_content{
      h3{
        text-align: center;
        margin-top: 20px
      }
      .bg {
        position: relative;
        width: 100%;
        img{
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
        }
      }
    }
  }
  