.content {
  height: 100%;
  width: 100%;
  position: relative;
}
// .light {
  // background: #fafafa;
 
  //scrollbar
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #eeecec;
    border-radius: 10px;

  }

  *::-webkit-scrollbar-thumb {
    background-color: #2997ce;
    border-radius: 10px;
    border: 1px solid #f8f5f5;
  }

  //line
  .layout{
//     display: flex;
// flex-direction: inherit;
// .layout_item{
//   display: flex;
//   flex-direction: inherit;
// }

  --focus-border: #2997ce;
  // --separator-border: #2997ce;
  }
// }
.dark {
  // background-color: #343746;
  // color: #fafafa;

  //scrollbar
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #44475a;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2997ce;
    border-radius: 10px;
    border: 2px solid #44475a;
  }

  //line
  // --focus-border: #57d3c4;
  // --separator-border: #10b7a4;
}
.dark {
  h3,
  h4 {
    // color: #fafafa !important;
  }
}
