.light{
    
  --focus-border: #07d68a;
  --separator-border: rgb(145, 144, 144);
 
}
.dark{
  background-color:  #343746;
  color: #fff;
 
 *::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #44475a;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbd8d8;
  border-radius: 20px;
  border: 2px solid #44475a;

}
--focus-border: #6272a4;
--separator-border: #bd93f9;
}
.dark{
  h3, h4{
      color: #fff !important;
  
      }
}