.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 20px;
  // border-bottom: 1px solid #777676;
  .title {
    span {
      font-size: 20px;
    }
  }
  .nav_item {
    .mr {
      margin-right: 20px;
    }
    .ml {
      margin-left: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    .line {
      width: 1px;
      height: 25px;
      background-color: #8d8b8b;
    }
    .icon_item {
      .item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        .start {
          color: #71a73b;
          font-size: 20px;
        }
        .stop {
          color: red;
          font-size: 13px;
          margin-top: 4px;
        }
        .launch {
          margin-top: 4px;
        }
        .edit {
          // color: rgb(82, 81, 81);
          margin-top: 1px;
          font-size: 18px;
        }
        .snap {
          margin-top: 2px;
          font-size: 19px;
          // color: rgb(82, 81, 81);
        }
      }
    }
  }
}

// .dark {
//   .nav {
//     .icon_item {
//       .item {
//         .launch{
//           color: #fafafa;
//         }
//         .edit {
//           color: #fafafa;
//         }
//         .snap {
//           color: #fafafa;
//         }
//       }
//     }
//   }
// }
