  
  .render_ui {
    display: flex;
    flex-direction: row;
    .vm{
    .border {
      height: 130px;
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }
  }
    .infoVm {
      margin-left: 100px;
      line-height: 25px;
      font-size: 14px;
      flex: 1 1 auto;
      .iconInfo {
        font-size: 30px;
        margin-top: 40px;
      }
    }
    .summary{
      line-height: 30px;
      float: right;
      td {
        padding: 0px 10px;
      }
      
      .icon_summary{
        margin-top: 5px;
      }
    }
  }
 .fs{
  font-size: 30px;
 }
 .fs2{
  font-size: 23px;
 }
  .light {
    .border {
      border: 1px solid #333;
    }
    color: #666666;
    font-weight: 400;
  }
  .dark{
    color: rgba(255, 255, 255, 0.85);
  .border {
    border: 1px solid #fafafa;
  }
}