.render_ui {
  display: flex;
  .guest_OS {
    border: 1px solid #5e727d;
    border-radius: 5px;
    width: 800px;
    height: 300px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.04);
    position: relative;
    .header_guestOs {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .content_guestOs {
      display: flex;
    }
  }
  .vm {
    .border {
      height: 150px;
      width: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      border: 1px solid #2997ce;
    }
  }
  .infoVm {
    margin-left: 10px;
    line-height: 25px;
    font-size: 14px;
    width: 500px;
    margin-left: 50px;
    img {
      height: 25px;
      width: 25px;
    }
    .iconInfo {
      margin-right: 10px;
      vertical-align: middle;
      img {
        height: 30px;
        width: 30px;
      }
    }
  }
  .iconSum {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    :hover {
      color: #2997ce;
    }
  }
  .summary {
    border-radius: 5px;
    width: 250px;
    height: 300px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.04);
    position: relative;
    margin-left: 20px;
    .titleSummary {
      font-size: 22px;
      margin-bottom: 10px;
    }
    ul {
      li {
        margin-bottom: 10px;
      }
    }
    .data {
      display: flex;
      justify-content: space-between;
    }
    .lineData {
      margin: 10px;
      width: 200px;
      height: 1px;
      background-color: #8d8b8b;
    }
    img {
      height: 30px;
      width: 30px;
    }
  }
}
.light {
  color: #666666;
  font-weight: 400;
  .summary {
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    box-shadow: 0 3px 0 0 #dedede;
  }
  .guest_OS {
    border: 1px solid #d0d0d0;
    box-shadow: 0 3px 0 0 #dedede;
    box-sizing: border-box;
  }
}
.dark {
  color: rgba(255, 255, 255, 0.85);
  .summary {
    border: 1px solid #5e727d;
    box-sizing: border-box;
    box-shadow: 0 3px 0 0 #54656e;
  }
  .guest_OS {
    box-shadow: 0 3px 0 0 #54656e;
    border: 1px solid #5e727d;
    box-sizing: border-box;
  }
}
