.fs{
  font-size: 30px;
 }
 .fs2{
  font-size: 23px;
 }
  .render_ui {
    display: flex;
    flex-direction: row;
    .vm{
    .border {
      height: 130px;
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      border: 1px solid #2997ce;

    }
  }
    .infoVm {
      margin-left: 100px;
      line-height: 25px;
      font-size: 14px;
      flex: 1 1 auto;
      .iconInfo {
        font-size: 30px;
        margin-top: 40px;
      }
    }
  }
  .light {
    // .border {
    // }
    color: #666666;
    font-weight: 400;
  }
  .dark{
    color: rgba(255, 255, 255, 0.85);
    .iconSumary{
      // color: #35a6df;
    }
}