.ant-tree-draggable-icon {
  display: none;
}

.light{
  #dropTree {
   .ant-tree-node-selected {
      background-color: #71A73B;
      color: #fff;
      .loading{
        color: #fff;
      }
    } 
  }
}
.dark{
  .tree {
    .ant-tree-list {
      background-color: #343746;
      color: white;
       .ant-tree-node-content-wrapper:hover{
        // background-color: #52556c;
      }
      
    }
    .ant-tree-switcher {
      background: #343746 !important;
    }
    .ant-tree-checkbox-inner {
      background-color: #52556c;
      border: 1px solid #343746;
    }
  }
  #dropTree{
      .loading{
        color: #fff;
      }
    .ant-tree-node-selected {
      background-color: #fff;
      color: black;
      .loading{
        color: black;
      }
    }
  }
}
