.container__dark{
    display: flex;
    height: 55px;
    width: 100vw;
    background-color: #282a36;
    text-align:start;
    h1{
        width: 50vw;
        margin-left: 30px ;
        color: whitesmoke;
    }
}
.container__light{
    display: flex;
    height: 55px;
    width: 100vw;
    background-color: #04AA6D;
    text-align:start;
    h1{
        width: 50vw;
        margin-left: 30px ;
        color: whitesmoke;
    }
}