.login {
  background: linear-gradient(269.88deg, #e4f4ff 6.75%, #fcf8ed 95.85%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .item_login {
    background-color: #ffff;
    border-radius: 10px;

    h1 {
      text-align: center;
      color: #71A73B;
    }
    Form {
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 14px 14px 20px #cbced1;
      width: 400px;
      height: 250px;
      padding: 50px;
     
      button {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #71A73B;
        background: #71A73B ;
        cursor: pointer;
      }
     
    }
  }
}
.ant-input-affix-wrapper:hover{
  border: 1px solid #71A73B !important;
}