.footer {
  width: calc(100% - 12px);
  height: calc(100% - 50px);
  overflow-y: scroll;
  margin-left: 10px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 25%;
  right: 10px;
  .icon{
    margin: 0 15px;
    cursor: pointer;
  }
}

.light {
  .menu {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
  }
  #log {
    color: #71A73B;
  }
  .icon {
    color: #71A73B;
  }
  #log::after {
    border-bottom: 2px solid #71A73B;
  }
}

.dark {
  .menu {
    background-color: #001529;
    border-bottom: 1px solid #001529;
  }

  #log {
    background-color: #44475a;
  }
  #log::after {
    border-bottom: 2px solid #fff;
  }
}
