.wrapper_content{
    display: flex;
    align-items: stretch;
    justify-content: space-between;

   width: 100%;
    .table_content1{
        width: 50%;
        .item_table{
            width: 100%;
            padding: 0 20px 20px 0;
            
        }
       
    }
    .table_content2{
            width: 50%;
            
            .item_table{
                width: 100%;
                padding: 0 20px 20px 0;
                
            }
           
        }
}
